*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    background: linear-gradient(to top right, white, lightblue) no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.out{
    font-size: 40px;
    border: 2px dashed grey;
    font-weight: 500;
    padding: 20px;
}
.out span{
    font-style: italic;
    font-weight: bold;
}